.card-table {
    overflow-x: scroll;
}
.card{
    opacity: 80%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Slight glow effect */
    transition: box-shadow 0.3s ease;/* Adds a slight glow */
    
}
.card{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); /* Enhance glow effect on hover */
}