.pay-button {
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    background-color: var(--primary);
    color: white;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.pay-button:hover {
    background-color: var(--secondary);
    color: white;
    transform: scale(1.1); /* Makes the button 10% bigger */
    box-shadow: 0 0 10px var(--secondary), 0 0 20px var(--secondary), 0 0 30px var(--secondary); /* Glowing effect */
}

.pay-button:active {
    transform: scale(1.1); /* Keeps the button slightly bigger */
    box-shadow: 0 0 10px var(--secondary), 0 0 20px var(--secondary), 0 0 30px var(--secondary); /* Glowing effect */
    background-color: var(--secondary);
    color: white;
}
