.theater {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

.screen {
    background-color: var(--secondary);
    color: var(--background);
    height: 20px; /* Made the screen thinner */
    width: 60%;
    text-align: center;
    line-height: 20px; /* Adjust line height to match the thinner height */
    box-shadow: 0 0 15px var(--secondary), 0 0 30px var(--secondary); /* Adds a glowing effect */
    margin: 5px 0;
    transform: perspective(600px) rotateX(30deg);
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    position: relative;
}

.screen::before {
    content: "SCREEN";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background);
    font-weight: bold;
    text-shadow: 0 0 5px var(--background), 0 0 10px var(--background); /* Glowing text effect */
}

.seats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--primary);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.seat {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.seat:hover{
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
    box-shadow: 0 0 7.5px var(--primary), 0 0 15px var(--primary);
}

.seat.selected {
    background-color: var(--primary);
    color: white;
    box-shadow: 0 0 7.5px var(--primary), 0 0 15px var(--primary);
}

.seat.booked {
    background-color: #E4003A;
    color: white;
    pointer-events: none;
    cursor: default; /* Change cursor to indicate it’s not clickable */
    box-shadow: 0 0 7px #E4003A, 0 0 15px #E4003A;
}

.btn-outline-dark {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-outline-dark:disabled {
    background-color: var(--accent);
    border-color: var(--accent);
    color: white;
    cursor: not-allowed;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-outline-dark:hover:not(:disabled),
.btn-outline-dark:focus:not(:disabled),
.btn-outline-dark:active:not(:disabled) {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: white;
    transform: scale(1.1); /* Makes the button 10% bigger */
    box-shadow: 0 0 10px var(--secondary), 0 0 20px var(--secondary), 0 0 30px var(--secondary); /* Glowing effect */
}


.seat-count {
    margin-top: 15px;
    font-size: 16px;
    color: var(--secondary);
    text-shadow: 0 0 10px var(--secondary), 0 0 20px var(--secondary), 0 0 30px var(--secondary); /* Glowing effect */
}

.custom-textarea{
    resize: none;
    /*border-radius: 10px;*/
}

.custom-textarea:focus {
    border-color: #000000;
    box-shadow: none;
}

.legend-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.legend-box {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.selected {
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 3px;
}

.available {
    background-color: #fff;
    border-radius: 3px;
}

.reserved {
    background-color: #E4003A;
    border-color: #E4003A;
    border-radius: 3px;
}
