.card-link {
    color: inherit;
    text-decoration: none;
}
.card-link:hover .card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
}
.card {
    transition: all 0.3s ease;
}
.card-img-top {
    height: 400px;
    object-fit: cover;
}
.submit-btn:hover {
    background-color: var(--secondary);
}
.btn-outline-primary{
    color: var(--primary);
    border-color: var(--primary);
}
.btn-outline-primary:hover{
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.custom-textarea{
    resize: none;
    /*border-radius: 10px;*/
}
.custom-textarea:focus {
    border-color: #000000;
    box-shadow: none;
}
.modal-header{
    text-align: center;
    align-content: center;
}
@media (max-width: 768px) {
    .carousel {
        height: 400px;
    }
}
@media (max-width: 576px) {
    .carousel {
        height: 300px;
    }
}